
  Er zijn <%= @ads.count %> aanhangwagens gevonden
  <div class="dropdown navbar-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter op
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Prijs</a></li>
      <li><a href="#">Afstand</a></li>
      <li><a href="#">Beoordeling</a></li>
    </ul>
  </div>

    <% @ads.each do |ad| %>
      <div class="thumbnail">
        <h2><%= link_to ad.title, ad_path(ad) %></h2>
        <p> <%= ad.description %></p>
        
        <%= link_to "Vervoer bekijken", ad_path(ad), class: "btn btn-warning" %>
      </div>
    <% end %>
